@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-rubik;
}

.btn-shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.07),
    inset 0px 0px 0px 1px rgba(0, 0, 0, 0.03),
    inset 0px -3px 0px rgba(0, 0, 0, 0.09);
}

.global-transition {
  @apply transition-all duration-300 ease-in-out;
}

.border-transition {
  @apply transition-colors duration-300 ease-in-out;
}

.card-scene {
  perspective: 1000px;
  @apply w-52 relative;
}

.card {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  @apply w-full transform duration-1000 absolute inset-0;
}
.flipped {
  transform: rotateY(180deg);
}

svg {
  @apply transform-none !important;
}

.correct {
  @apply bg-correct-base;
}
.correct:hover {
  @apply bg-correct-dark;
}
.wrong {
  @apply bg-wrong-base;
}
.wrong:hover {
  @apply bg-wrong-dark;
}
.disabled {
  @apply bg-disabled;
}
.general {
  @apply bg-general-base;
}
.general:hover {
  @apply bg-general-dark;
}
.default {
  @apply bg-default-base;
}
.default:hover {
  @apply bg-default-dark;
}
.generalOrange {
  @apply bg-generalOrange-base;
}
.generalOrange:hover {
  @apply bg-generalOrange-dark;
}

.defaultBG {
  @apply bg-default-base flex items-center border-[1px] border-[#BCBCBC] border-opacity-20 shadow-sm rounded-xl p-3;
}

.rus {
  background-color: #ac5cb2;
}
.rus:hover {
  background-color: #824087;
}
.ita {
  background-color: #5cb281;
}
.ita:hover {
  background-color: #40875f;
}
.spa {
  background-color: #e4453a;
}
.spa:hover {
  background-color: #dc291e;
}
.fra {
  background-color: #5c7fb2;
}
.fra:hover {
  background-color: #405c87;
}
